@use "../../sass/variables.scss" as *;

.gallery {
  display: grid;
  border-radius: 25px;
  margin: 0 1.5rem;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: auto auto auto;
    background-color: $tertiary-color;
    margin: 0 3rem;
    padding: 2rem;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    gap: 50px;
  }
}